# Template .gitignore file

# folder ignores
**/__pycache__
**/venv

**/.DS_Store
**/.vscode
**/build

**.csv
**.dta
**.smcl
**.zip

**.RData
**.Rhistory

**.dct
**.log
**.aux
**.tex

**.docx
**.ppt
**.xlsx
**.xls

**/*-checkpoint*
